@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

html,
body {
  height: 100%;
  background-color: #000;
  background: url(./assets/img/bg-stars.png);
  font-family: 'Libre Franklin', sans-serif;
  color: #ffd54e;
}
